@import "./utils/variables";
@import "./utils/global";
@import "./components/header";
@import "./components/header__logo";
@import "./components/header__navigation";
@import "./components/header__menu";
@import "./components/header__contact";
@import "./components/banner";
@import "./components/banner__header";
@import "./components/banner__button";
@import "./utils/backdrop";
@import "./utils/hidden";
@import "./components/modal";
@import "./components/modal__form";
@import "./components/modal__checkbox";
@import "./components/modal__submit";
@import "./components/content-section";
@import "./components/content-section__text-items";
@import "./components/content-section__icons-background";
@import "./components/content-section__header";
@import "./components/content-section__pharagraph";
@import "./components/tasks-section__header";
@import "./components/tasks-section__items";
@import "./components/tasks-section__card";
@import "./components/workers-section";
@import "./components/workers-section__header";
@import "./components/workers-section__items";
@import "./components/workers-section__card";
@import "./components/workers-section__sm-icons";
@import "./components/customers-section__title";
@import "./components/customers-section__card";
@import "./components/customers-section__icon";
@import "./components/footer";
@import "./components/footer__container";
@import "./components/footer__sm";
@import "./components/footer__newsletter";
@import "./components/footer__newsletter-box";
@import "./components/portfolio-buttons";
@import "./components/portfolio-buttons__items";
@import "./components/portfolio";
@import "./components/portfolio__items";
@import "./components/portfolio__onlay";
@import "./components/portfolio__figcaption";
