.banner__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-color);
  background-color: var(--brand-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-bottom: 200px;
  transition: color var(--transition-duration) var(--cubic-bezier),
    background-color var(--transition-duration) var(--cubic-bezier);
  &:hover {
    color: var(--brand-color);
    background-color: var(--white-color);
  }
}
