.banner__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-color);
  width: 696px;
  text-align: center;
  text-transform: uppercase;
  margin: 200px 452px 30px 452px;
}
