.banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url("../../images/banner_image_1600_600.jpg");
  background-size: cover;
  height: 600px;
}

@media screen and (max-width: 480px) {
  .banner {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(0, 0, 0, 0.6)
      ),
      url("../../images/banner_image_480_400.jpg");
    height: 400px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .banner {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(0, 0, 0, 0.6)
      ),
      url("../../images/banner_image_768_400.jpg");
    height: 400px;
  }
}
