.customers-section__title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-top: 94px;
  margin-bottom: 50px;
}
