.newsletter__box {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

.box__input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;
  color: var(--white-color);
  &::placeholder {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
  }
}

.box__fieldset {
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.box__input-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-color);
  background-color: var(--brand-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  text-align: left;
  padding-left: 42px;
  margin-top: 20px;
  &:hover {
    cursor: pointer;
  }
}

.box__icon {
  fill: var(--white-color);
  position: absolute;
  right: 28px;
  top: 33px;
}
