footer {
  width: var(--width);
  padding-block: 60px;
  background-color: var(--first-background-color);
}

.footer {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
}
