.sm-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sm-footer__pharagraph {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0;
  padding: 0;
}

.sm-footer__icons {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.sm-footer__icons--item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  fill: var(--white-color);
  transition: background-color var(--transition-duration) var(--cubic-bezier);
  &:hover {
    background-color: var(--brand-color);
  }
}
