footer {
  width: 100%;
  padding-inline: 10%;
  padding-block: 60px;
  background-color: var(--first-background-color);
  @media screen and (max-width: 480px) {
    padding-inline: 2%;
  }
}

.footer {
  display: flex;
  gap: 2%;
  justify-content: space-between;
  align-items: baseline;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
  }
}
