.container__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--brand-color);
  margin: 0;
  padding: 0;
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.container__logo > span {
  color: var(--white-color);
}

.container__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

.container__contact {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  fill: var(--grey-color);
  transition: color var(--transition-duration) var(--cubic-bezier),
    fill var(--transition-duration) var(--cubic-bezier);
  &:hover {
    color: var(--brand-color);
    fill: var(--brand-color);
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
}
