.header__navigation-contact {
  flex-grow: 2;
  display: flex;
  gap: 35%;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header__navigation {
  flex-grow: 2;
  @media screen and (min-width: 481px) and (max-width: 1200px) {
    flex-grow: 0;
  }
}

.header__menu {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    gap: 12%;
  }
}

.header__menu-items {
  transition: color var(--transition-duration) var(--cubic-bezier);
  color: var(--black-color);
  &:hover {
    color: var(--brand-color);
  }
}

.header__menu-first-item {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 4px;
    left: 0;
    top: 44.5px;
    background: var(--brand-color);
    border-radius: 2px;
  }
}

.header__menu-second-item {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 4px;
    left: 0;
    top: 44.5px;
    background: var(--brand-color);
    border-radius: 2px;
  }
}

.header__contact {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 35%;
  gap: 5%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  @media screen and (min-width: 481px) and (max-width: 1200px) {
    flex-direction: column;
    gap: 10px;
    width: auto;
  }
}

.header__contact-items {
  color: var(--grey-color);
  fill: var(--grey-color);
  transition: color var(--transition-duration) var(--cubic-bezier),
    fill var(--transition-duration) var(--cubic-bezier);
  &:hover {
    color: var(--brand-color);
    fill: var(--brand-color);
  }
}
