body {
  font-family: var(--font-family);
  color: var(--black-color);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.section {
  padding-block: 94px;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}
