:root {
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --width: 1600px;
  --font-family: "Roboto", sans-serif;
  --brand-color: #2196f3;
  --black-color: #212121;
  --grey-color: #757575;
  --white-color: #fff;
  --first-background-color: #2f303a;
  --first-fill-color: #afb1b8;
  --mobile-min: 320px;
  --tablet-min: 480px;
  --desktop-min: 768px;
}
